<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chucky PB - Veterinaria</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">

      <div class="logo">
        <h1  ><a  href="/"><img class="img-fluid rounded" src="{% static 'img/logoVeterinaria.png' %}" ></a></h1>
      </div>

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Bienvenido a la veterinaria Chucky PB</h1>
    </div>
  </section><!-- #hero -->

    
    <div class="container mt-5">
      <div class="row">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/mascotas.jpg' %}" class="card-img-top rounded text-center" alt="...">
          <div class="card-body">
            <p class="card-text"><h1 class="text-center"><a href="mascotas/">Registro de mascotas</a></h1></p>
          </div>
       </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/vacunas.jpeg' %}" class="card-img-top rounded text-center" alt="...">
          <div class="card-body">
           <p class="card-text"><h1 class="text-center"><a href="vacunas/">Registro de vacunas</a></h1></p>
          </div>
       </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/Cirugia.jpg' %}" class="card-img-top rounded text-center" alt="...">
          <div class="card-body">
            <p class="card-text"><h1 class="text-center"><a href="cirugias/">Registro de cirugias</a></h1></p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/Estetica.jpg.' %}" class="card-img-top rounded text-center" alt="...">
          <div class="card-body">
            <p class="card-text"><h1 class="text-center"><a href="esteticaVeterinaria/">Registro de estetica veterinaria</a></h1></p>
          </div>
        </div> 
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/consulta.jpg' %}" class="card-img-top rounded text-center" alt="...">
          <div class="card-body">
            <p class="card-text"><h1 class="text-center"><a href="consultaMedica/">Registro de consultas medicas</a></h1></p>
          </div>
        </div>
      </div>
    </div>


  <!-- ======= Footer ======= -->
  <footer id="footer" class="mt-5">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Siimple</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->
  <!-- Template Main JS File -->

  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>

</html>